#footer {
	background-color: white;
	width: 100%;
	height: 250px;
	border:1px dashed purple;
	padding-top: 20px;
}

#footmenu{
	width: 1000px;
	border: 1px dashed blue;	
	margin: 0px auto;
}
#menulist{
	width: 700px;
	margin: 0px auto;	
}

#menulist div span{
	font-size: 1em;
	font-weight: bold;
	
}

#menulist ul{
	list-style: none;
	margin:0px; padding:0px;
	padding-top:5px;
	
}
#menulist ul li{
margin-top:3px;
}

#footmenu #menulist div{
	display:inline-block;
	vertical-align: top;
	margin-right:5%;
	border: 1px dashed red;
	width:120px;
}

#footmenu #menulist div:nth-child(4){
	margin-right:0px;
}


#companyinfo{
	text-align: center;
	
}

#companyinfo p{
	vertical-align: middle;	
}
	


#footer #Fbox {
   margin-top: 30px;
}

#Fbox{
	border-top: 1px solid lightgrey;	
	margin-top: 15px;
}

#tblF {
   width: 30%;
   height: 7%;
   padding-top : 20px;
   margin-left: 20%;
   text-align: center;
   
}

#tblF a {
   text-decoration: none;
   color: black;
}

#fot {
   list-style: none;
   display: inline-block;
   margin: 0px auto;
   background-color: lightgrey;
}

#footer #fot li {
   display: inline-block;
   margin: 20px;
   font-size: 0.9em;
}

#footer #fotBox {
   width: 100%;
   text-align:center;
}